{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">
   
    <div><h4>We have {{ total }} repos. Host at /home/git_source/xxx.git </h4></div>
    <br />
    {% for repository in repositories %}
    <div class="repository">
        <div class="repository-header">
<<<<<<< HEAD
            <i class="icon-folder-open icon-spaced"></i> <a href="{{ path('repository', {repo: repository.name}) }}">{{ repository.name }}</a>
            <a href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><i class="rss pull-right"></i></a>
=======
            <i class="icon-folder-open icon-spaced"></i> <a href="{{ path('repository', {repo: repository.relativePath}) }}">{{ repository.name }}</a>
            <a href="{{ path('rss', {repo: repository.relativePath, branch: 'master'}) }}"><i class="rss pull-right"></i></a>
>>>>>>> 44ed193402c5a25cddbc80ef0c87183111f348b4
        </div>
        <div class="repository-body">
            <p>{{ repository.description }}</p>
        </div>
<<<<<<< HEAD
        {% if repository.commits %}
=======
<<<<<<< HEAD
>>>>>>> 416e80d18debe113aec04b6a39f951340cc37098
        <div class="repository-body">
            {% for date, commit in repository.commits %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">{{ date | date("F j, Y") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in commit %}
                    <tr>
                        <td width="5%"><img src="http://gravatar.com/avatar/{{ item.author.email | md5 }}?s=40" /></td>
                        <td width="95%">
                            <span class="pull-right"><a class="btn btn-small" href="{{ path('commit', {repo: repository.name, commit: item.shortHash}) }}"><i class="icon-list-alt"></i> View {{ item.shortHash }}</a></span>
                            <h4>{{ item.message }}</h4>
                            <span><a href="mailto:{{ item.author.email }}">{{ item.author.name }}</a> authored in {{ item.date | date('d/m/Y \\a\\t H:i:s') }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
<<<<<<< HEAD
        {% endif %}
=======
=======
>>>>>>> 44ed193402c5a25cddbc80ef0c87183111f348b4
>>>>>>> 416e80d18debe113aec04b6a39f951340cc37098
    </div>
    {% endfor %}

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
